@charset "utf-8"

*,*:before,*:after {margin:0px; 
                    padding:0px;}

body { width: 100%; 
       background-color: #F0F9FF;
       margin: 0px;
       font-size: 100%;
       line-height: 1.45;}


#container { height:800px; 
             width: 975px; 
             background-color:#F9FBE6; 
             position: relative; 
             margin-right: auto; 
             margin-left: auto; 
             
}

#wrapper {
    max-width:600px;
    margin: 0 auto;
}

h1, h2 { text-align: center; 
         color: #2E3049; 
         margin: 0px;
         font-family:monospace, sans-serif, ariele, halvetica;
}

p { font-family: monospace, sans-serif, serif;
    font-size: 1em;
    color: black;
    text-align: left;
    margin: 1%;
}
/* navigation set up */

nav a, li { 
    color: blue; 
    text-decoration: none;
    transition: color 500ms;
}
nav a:hover { color: #EF1010; }
nav a:link {color:#687780; 
            text-decoration:none;
            font-size: 1.5em;
            font-family:monospace;
            transition: color 1500ms;
} 
	 
	 
nav li a:hover, nav li a.current { color: #EF1010;
                                   } 

nav a:active {color:#687780; }
	 
nav a:visited {color:#687780;}

nav ul {
    padding:0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display:inline-block;
    padding:0.1em;
    margin-right: 1em;
    position:relative;
}

nav li { 
         padding: 14px; 
         display: inline;
         font-family: monospace;
         color: #687780;
         font-size: 1.5em;
         }

nav ul li ul {
    display:none;
    position:absolute;
    left:0;
}

nav ul li ul li{
    font-size: 1em;
}

nav ul li:hover ul {
    display:inline-block;
}


/* finished navigation set up*/


img {
    padding-top: 100px;
      margin-left: 300px;
      margin-top: 50px;
}
/* finished p5.js set up*/
canvas { border:10px solid #687780;

         margin-top: 50px;
}

/* start footer*/
footer {  margin-right: auto; margin-left: auto; width: 100%; background-color: #BFAD5E; font-family: monospace, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: bold; font-style:monospace; font-weight:lighter; text-align:right; color: #010101; padding-top: 1%; padding-bottom: 1%; 
}
